* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img.octocat {
    height: 200px;
}

h1 {
    color: navy;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
}

p {
    text-align: center;
}

.container {
    width: 800px;
    margin: 0 auto;
    background-color: rgb(215, 236, 250);
    padding: 20px;
}

.block1 {
    background-color: aqua;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block2 {
    background-color: plum;
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.block3 {
    background-color: white;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
}